html,body{
    margin: 0px;
    padding: 0px;
    background-color: #E5E5E5;
    font-family: sans-serif;
}
button, a {
    cursor: pointer;
}
*{
    box-sizing:border-box;
}

.body{
    font-family: sans-serif;
}
.header {
  /*  height:48px;*/
    background-color: #0050B3;
    padding: 0px 15px;
}
.header__header-block{ 
   padding:6px 0px;
   max-width: 1200px;
   margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-block__search-input{
   
    width: 336px;
    height:32px;
    padding: 5px 30px 5px 12px;
    font-size: 14px;
    border-radius: 4px;
    border:1px solid #C4C4C4;
    background-image:url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position:right 12px center;
}
.navigation{
    float:right;
    display: flex;
    justify-content: flex-end;

}

.header-block__user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-block__user-avatar{
    margin-right:8px;
}

.user-name{
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    
}
.header-block__navigation-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-block__navigation-link{
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left:12px;
}
.header-block__navigation-link:before{
    display: inline-block;
    content:"";
    width:1px;
    height:16px;
    background-color:#003A8C;
    margin-right:12px;
}
.header-block__navigation-link:last-child:after{
    content:"";
    width:1px;
    height:16px;
    background-color:#003A8C;
    margin-left:12px;
}
.header-block__icons-panel a{
    text-decoration: none;

}
.header-block__icons-panel{
    display: flex;
    align-items: center;
}
.header-block__svg{
    fill:#002766;
    margin-left:17px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-block__svg--active{
    fill:#fff;
    margin-left:17px;
}
.header-block__svg:hover{
    fill:#fff;
}
.header-block__icon-link{
    display: flex;
    align-items: center;
}
.header-block__icon-link:last-child:before{
    content:"";
    width:1px;
    height:16px;
    background-color:#003A8C;
    margin-left:12px; 
}
.main{
    padding: 0px 15px;
}
.main__container{ 
    max-width: 1200px;
    margin:16px auto;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     /*align-items: center;
     justify-content: space-between;*/
 }
 .main__menu-sidebar{
     display: flex;
     flex-direction: column;
     width: 192px;
 }
 .menu-sidebar__user{
     margin-left:10px;
     display: flex;
     align-items: center;
 }
 .menu-sidebar__user-avatar{
     width: 24px;
     height: 24px;
 }
 .menu-sidebar__user-name{
    margin-left: 8px;
    color: #262626;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;   
    text-decoration: none;   
}
 .menu-sidebar__nav-group{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top:12px;
     margin-bottom:12px;
 }
 .menu-sidebar__nav-link{
    text-decoration: none;
    color: #595959;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    width: 192px;
    padding: 4px 8px;
    height:32px;
    border-radius: 4px;
    padding-left: 8px;
 }
 .menu-sidebar__nav-link:hover{
    text-decoration: none;
    background-color: white;
    color: #262626;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
 }
 .menu-sidebar__nav-link:hover:after{
    content:". . .";
    background-position: 100% 50%;
    font-size:22px;
    width:40px;
    height:16px; 
 }
 .menu-sidebar__nav-link--active{
    background-color: white;
    color: #262626;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
 }
.menu-sidebar__nav-svg{
    margin-right: 8px;
}
.menu-sidebar__span-title{
    font-weight: bold;
}
.menu-sidebar__nav-explore .menu-sidebar__nav-link:last-child{
    margin-top:4px;
    margin-left:6px;
    width: 186px;
    color: #1890FF;
}
.menu-sidebar__nav-explore .menu-sidebar__nav-link:last-child .menu-sidebar__nav-svg{
    margin-right:14px;
}
.main__feed{
    width: 100%;
    max-width: 588px;
    margin-left: 18px;
    margin-right: 18px;
}
.main__post{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.create-post__header{
    background-color: #F5F5F5;
    border-bottom:1px solid #D9D9D9;
}
.create-post__title{
    padding:9px 16px;
    margin:0px;
}
.create-post__body{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 16px 24px 16px;
}
.create-post__user-avatar{
    width: 40px;
    height:40px;
}
.create-post__input{
    width:90%;
    margin-left:16px;
    margin-top: 6px;
    margin-right:0px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}
.create-post__footer{
    padding-top: 16px;
    margin: 0px 16px 16px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E8E8E8;
}
.create-post__btn{
    border-radius: 25px;
    border:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    margin-right:8px;
}
.create-post__span{
    margin-left:8px;
}
.feed__feed-post{
    padding: 16px;
}
.feed-post__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
/*.feed-post__header:last-child{
    align-items: flex-start;
}*/
.feed-post__user{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.feed-post__user-avatar{
    width:48px;
    height: 48px;
}
.feed-post__post-author{
    color: #0050B3;
    font-family: sans-serif;
    text-decoration: none;
}
.feed-post__post-author-info{
    margin-left:12px;
    margin-top:4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.feed-post__post-info{
    display: flex;
    align-items: center;
}
.feed-post__post-info-time{
    color:#BFBFBF;
    font-family: sans-serif;
}
.feed-post__post-info-time:after{
    display:inline-block;
    content:"";
    width:4px;
    height:4px;
    border-radius: 50%;
    background-color:#BFBFBF;
    margin:3px 6px;
}
.feed-post__header-btn{
    border:none;
    background: none;
    margin-top: 0px;
    
}
.feed-post__header-svg{
   /* margin-top: 12px;*/
}
.feed-post__text{
    margin: 16px 0px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    font-family: sans-serif;
}
.feed-post__text-link{
    text-decoration: none;
    color:#1890FF;
}
.feed-post__img-feed{
    border-radius: 4px;
    border: 1px solid #BFBFBF;
    max-width: 100%;
}

.feed-post__likes{
    margin: 9px 0px;
    display: flex;
    align-items: center;
}
.feed-post__like-counter{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-left: 4px;
}
.feed-post__footer{
    padding-top:16px;
    border-top:1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.feed-post__footer-btn{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
.feed-post__footer-btn:hover .feed-post__svg{
    fill:#1890FF;
}
.feed-post__footer-btn:hover .feed-post__footer-span{
    color:#1890FF;
}
.feed-post__svg{
    fill:#595959;
}

.feed-post__footer-span{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px; 
    color: #595959; 
    margin-left:8px;
}
.main__menu-right-side{
    max-width: 384px;
    min-width: 300px;
    width: 100%;
}
.main__stories{
    padding: 16px 16px 16px 24px; 
}
.stories__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.stories__links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
}
.stories__one-link{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0050B3;
}
.stories__one-link-svg{
    margin-right: 4px;
}
.stories__header .stories__one-link:last-child:before{
    display:inline-block;
    content:"";
    width:4px;
    height:4px;
    border-radius: 50%;
    background-color:#BFBFBF;
    margin:3px 6px;
}
.stories__item{
    margin-bottom: 16px;
}
.stories__btn{
    border:none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: none;
}
.avatar{ 
    width:48px;
    height:48px;
    border-radius: 50%;
}
.stories__img{
    border:none;
    border-radius: 50%;
}
.stories__img--active{
    border:2px solid #1890FF;
    border-radius: 50%;
}
.stories__info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    margin-left:12px;
}
.stories__name{
    margin: 4px 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #0050B3;
}
.stories__time{
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.main__birthday{
    padding: 16px;
    display: flex;
    justify-content: flex-start;
}
.birthday_link{
    margin-left: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #0050B3;
}
.birthday_info{
    font-size: 14px;
    line-height: 22px;
}
.main__fanpage{
    
}
.fanpage__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 16px;
    border-bottom: 1px solid #D9D9D9;
}
.fanpage__header-btn{
    border:none;
    background: none;
    display: flex;
    align-items: center;
}
.fanpage__container{
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.fanpage__user{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left:16px;
}
.fanpage__user-info{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.fanpage__user-svg{
    width:16px;
}
.fanpage__user-name{
    margin: 4px 0px;
    text-decoration: none;
    color:#003A8C;
}
.fanpage__message{
    margin-left: 6px;
    font-size: 14px;
    line-height: 22px; 
    color: #8C8C8C;
}
.fanpage__message--active:after{
    content: "\00a0 1\00a0";
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #595959;
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-left: 6px;
}
.fanpage__bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 1px solid #D9D9D9;
    margin: 0 16px 16px 16px;
    padding-top: 16px;
}
.fanpage__data{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline:none;
    height: 40px;
    border-radius: 4px;
    border:1px solid #D9D9D9;
}
.fanpage__data-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 118px;
    height: 40px;
    margin: 0px 1px 0px 0px;
    border-right:1px solid #D9D9D9;
}
.fanpage__data-btn:last-child{
    border-right:none;
}
.fanpage__data-btn:hover{
    margin: 0px 0px 0px -2px;
    border:1px solid #1890FF;
}
.fanpage__data-btn:first-child:hover{
    margin: 0px 0px 0px -1px;
    border-radius: 4px 0px 0px 4px;
    border:1px solid #1890FF;
}
.fanpage__data-btn:last-child:hover{
    margin: 0px -1px 0px -2px;
    border-radius: 0px 4px 4px 0px;
   /* outline:1px solid #1890FF;*/
    border:1px solid #1890FF;
}
/*.fanpage__data-btn:last-child:hover .fanpage__data{
    border-right:1px solid green; 
}*/

.fanpage__data-span{
    text-align: center;
}
.fanpage__data-btn:hover .fanpage__data-span{
    color:#1890FF;
}
.fanpage__count{
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
    color: #262626;
}
.fanpage__count-week{
    text-align: center;
    margin-top: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}